
@import                                  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin:                                0px;
  padding:                               0px;
  box-sizing:                            border-box;
  font-family:                           'Poppins', sans-serif;
}

body {
  overflow-x:                            hidden;
  background-color:                    #E0E0E0;
}

header {
  color:                                 #aaa;
  display:                               flex;
  padding:                               25px;
  align-items:                           center;
  justify-content:                       space-between;
  background-color:                      #202020;
  a {
    color:                               #fff;
    text-decoration:                     none;
  }
  > a {
    font-size:                           25px;
    font-weight:                         700;
    line-height:                         normal;
    text-decoration:                     none;
  }
  > ul {
    > li {
      color:                             #aaa;
      padding:                           0px 15px;
      display:                           inline-block;
      > a {
        margin:                          10px 4px;
        display:                         block;
        padding:                         5px 10px;
        position:                        relative;
        &:before {
          left:                          0px;
          width:                         100%;
          bottom:                        0%;
          height:                        2px;
          content:                       '';
          display:                       block;
          position:                      absolute;
          transform:                     scale(0, 1);
          transition:                    transform 0.4s cubic-bezier(1, 0, 0, 1);
          background:                    #aaa;
          transform-origin:              right top;
        }
        &:hover::before {
          transform:                     scale(1, 1);
          transform-origin:              left top;
        }
      }
    }
  }
}

section.cards {
  display:                               flex;
  min-height:                            100vh;
  align-items:                           center;
  flex-direction:                        column;
  justify-content:                       center;
  background-color:                      #E0E0E0;
  > div {
    > h2 {
      text-align: center;
    }
  }
  .container {
    width:                               1200px;
    margin:                              75px 0px;
    display:                             grid;
    padding:                             20px;
    grid-gap:                            20px;
    position:                            relative;
    grid-template-columns:               repeat(auto-fit, minmax(250px, 1fr));
    .card {
      width:                             100%;
      border-radius:                     3px;
      background-color:                  #E0E0E0;
      .img_bx {
        width:                           100%;
        height:                          400px;
        padding:                         25px;
        overflow:                        hidden;
        position:                        relative;
        background-color:                #fff;
        > img {
          top:                           20px;
          left:                          0px;
          width:                         100%;
          height:                        350px;
          position:                      absolute;
          object-fit:                    scale-down;
          transition:                    0.5s ease-in-out;
          transform-origin:              70% 100%;
        }
        .action {
          top:                           10px;
          right:                         10px;
          position:                      absolute;
          transform:                     translateX(60px);
          list-style:                    none;
          transition:                    0.5s;
          > li {
            width:                       40px;
            height:                      40px;
            margin:                      4px;
            cursor:                      pointer;
            display:                     flex;
            position:                    relative;
            border-radius:               3px;
            align-content:               center;
            justify-content:             center;
            background-color:            #e9e9e9;
            > svg {
              top:                       12px;
              left:                     -1px;
              position:                  relative;
            }
            > div.App {
              > svg {
                top:                     8px;
                left:                   -1px;
                position:                relative;
              }
            }
            span {
              top:                       50%;
              right:                     120%;
              color:                     #333;
              opacity:                   0;
              padding:                   4px 15px;
              position:                  absolute;
              font-size:                 12px;
              transform:                 translateY(-50%) translateX(-20px);
              transition:                0.5s;
              font-weight:               500;
              white-space:               nowrap;
              border-radius:             3;
              pointer-events:            none;
              background-color:          #e9e9e9;
            }
            &:hover {
              background-color:          #E0E0E0;
            }
            &:hover span {
              opacity:                   1;
              transform:                 translateY(-50%) translateX(0px);
              transition:                0.5s;
            }
          }
        }
      }
      &:hover  img {
        transform:                       scale(2.5);
        transition:                      0.5s ease-in-out;
      }
      &:hover  .action {
        transform:                       translateX(0px);
        transition:                      0.5s;
      }
    }
    .content {
      padding:                           10px;
      .product_name {
        h3 {
          color:                         #333;
          margin:                        5px 0px;
          font-size:                     18px;
          font-weight:                   500;
        }
      }
      .price_rating {
        cursor:                          pointer;
        display:                         flex;
        align-items:                     center;
        justify-content:                 space-between;
        > h2 {
          color:                         #333;
          font-size:                     20px;
          font-weight:                   500;
        }
      }
    }
  }
}
